.App {
    text-align: center;
    height: 100%;
    width: 100%;
    background: white;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.App .plan-view {
    flex: 1;
}

.button-link {
    padding: 0 10px;
    cursor: pointer;
}

.App > div {
    flex: 1;
}

.App > .menu {
    flex: 0 0 auto;
    margin: 0;
}
.App > div > .menu {
    margin: 0;
}

h1 {
    letter-spacing: 4px;
}

.App {
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}
.App h1, .App h2, .App h3 {
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}
