.course {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100px;
    width: 100px;

    padding: 2px;
    border: 1px solid gray;
    border-radius: 3px;
    background: #fbfafa;
}

.course > p {
    margin: 0;
    width: 100%;
}

.course .course-header {
    width: auto;
    flex: 0 0 auto;
    border-bottom: 1px solid gray;
    margin-bottom: 2px;
}

.course-title {
    flex: 1;
}

.course-credits {
    flex: 0 0 auto;
}
