.course {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100px;
    width: 100px;

    border: 1px solid #1b1c1d;
    border-radius: 3px;

    color: white;
    background: #4cf;
    text-align: center;

    box-shadow: 1.2px 1.2px #cccccc;
}

.missingPrereqs {
    border: 3px solid red;
}

.course > p {
    margin: 0;
    width: 100%;
}

.course .course-header {
    flex: 0 0 auto;
    width: 100%;
    padding: 2px;
    border-bottom: 1px solid #1b1c1d;
    margin-bottom: 2px;

    background: rgba(0,0,0,0.2);
    font-weight: bold;
}

.course-title {
    max-height: 4em;
    overflow: hidden;
}

.course-credits {
    flex: 0 0 auto;
}

.course .editing {
    background: rgba(0,0,0,0.2);
    width: 100%;
    color: white;
    text-align: center;
    border-radius: 2px;
}


.dragging-over {
    position: relative;
}
.dragging-over::after {
    content: "";
    background: yellow;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.course-fills-requirements {
    position: absolute;
    top: -.5em;
    left: -.5em;
    background: red;
    padding: 0px 5px;
    border-radius: 100%;
}
