.course {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100px;
    width: 100px;
    overflow: hidden;

    border: 1px solid #1b1c1d;
    border-radius: 3px;

    color: white;
    background: #4cf;
}

.course > p {
    margin: 0;
    width: 100%;
}

.course .course-header {
    flex: 0 0 auto;
    width: 100%;
    padding: 2px;
    border-bottom: 1px solid #1b1c1d;
    margin-bottom: 2px;

    background: rgba(0,0,0,0.2);
    font-weight: bold;
}

.course-title {
    max-height: 4em;
    overflow: hidden;
}

.course-credits {
    flex: 0 0 auto;
}

.course .editing {
    background: rgba(0,0,0,0.2);
    width: 100%;
    color: white;
    text-align: center;
    border-radius: 2px;
}
