.landing {
    text-align: left;
}

.landing .section {
    display: flex;
    margin-bottom: 60px;
}

.landing .ui.menu.secondary {
    width: 100%;
}

.triangle-pointer {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #1b1c1d;

    position: absolute;
    top: 0;
    left: calc(50% - 20px);
}

.landing .ui.inverted.landing-heading {
    /* height: 550px; */

    /* position: relative; */
    /* background-image: url("../images/space_example.jpg"); */
    /* background-attachment: fixed; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}
