.App > .landing {
    overflow-y: auto;
}

.landing {
    text-align: left;
}

.landing .section {
    display: flex;
    margin-bottom: 60px;
}

.triangle-pointer {
    width: 40px;
    height: 40px;
    background: #1b1c1d;
    transform: rotate(45deg);
    position: absolute;
    left: calc(50% - 20px);
    top: -20px;
}
