.year-container {
    display: flex;
}

.year-container > div {
    margin: 15px;
}

/*
 * These next two styles fix centering when screen gets small.
 * It works better than using "justify-content: center" on the parent div.
 */
.year-container > div:first-child {
    margin-left: auto;
}
.year-container > div:last-child {
    margin-right: auto;
}

.plan-view {
    height: 100%;
    list-style: none outside none;

    display: flex;
}

/* Internet Explorer has no grabby hand */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .pre-draggable {
        cursor: move;
    }
}

.trash:hover {
    color: red;
}

.couldnt-find-plan {
    padding-top: 10%;
}

.plan-preview {
    display: flex;

    transform: scale(.65, .65);
    transform-origin: left top;
}
