.plan-view .year {
    margin: 5px;
}

.year-container {
    display: flex;
}

/*
 * These next two styles fix centering when screen gets small.
 * It works better than using "justify-content: center" on the parent div.
 */
.year-container > div:first-child {
    margin-left: auto;
}
.year-container > div:last-child {
    margin-right: auto;
}

.plan-view {
    margin-top: 25px;
    padding-bottom: 50px;
    list-style: none outside none;
}

/* Internet Explorer has not grabby hand */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .pre-draggable {
        cursor: move;
    }
}

.pre-draggable > div {
    height: 100%;
}

.trash:hover {
    color: red;
}

.plan-title-wrapper {
    text-align: left;
}

.plan-title {
    display: inline-block;
    text-align: left;
    margin-left: 3%;
    margin-bottom: 10px !important;
}
