.requirements {
    background: #e6e6e6;

    height: auto !important;
    position: inherit !important;
}

.requirements > div {
    height: 100%;
    width: 100%;
    padding: 25px;
    overflow-y: scroll;
}

.requirement {
    display: flex;
    padding: 3px;
    text-align: left;
}

.type {
    flex: 0 0 auto;
}

.amount > input {
    width: 3em;
}

.requirements h1.ui.header {
    text-transform: uppercase;
}
