.requirements {
    background: #e6e6e6;

    height: auto !important;
    position: inherit !important;

    font-family: 'Lato', Helvetica, sans-serif;
    z-index: 2;

    /* Fixes position: fixed when used on child elements.
     * (needed by requirement badges when dragged)
     */
    transform: initial !important; 
}

.requirements > div {
    height: 100%;
    width: 100%;
    padding: 25px;
    overflow-y: scroll;
}

.requirement {
    display: flex;
    padding: 3px;
    text-align: left;
}

.type {
    flex: 0 0 auto;
}

.amount > input {
    width: 3em;
}

.requirements h1.ui.header {
    text-transform: uppercase;
}

/*
 * Hide the text of the "type" dropdown
 * This makes it so, for the Type dropdown, so we only show the icon on the
 * line, but inside the dropdown select we show the word too
 */
.requirement .dropdown > .text {
    display: none;
}

.requirement .badges {
    margin: 0 5px;
}

.badge {
    width: 15px;
    height: 15px;
    border: 1px solid black;
}
.requirement .badge.diamond {
    transform: rotate(45deg);
}
