.term .course-wrapper {
    margin-bottom: 5px;
}

.term-container > div:first-child {
    margin-left: 10px;
}

.term {
    position: relative;
    display: flex;
    flex-flow: column;
    min-width: 100px;
    width: 100px;
    padding-bottom: 5px;
    margin-right: 10px;
}

.course-container {
    flex: 1 0 auto;

    display: flex;
    flex-flow: column;
}

.term .term-title {
    display: none;
}
.term.minimized .term-title {
    display: block;
}

.term > h3 {
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.term > input {
    width: 110px;
}

.add-course-button {
    background: none;
    color: teal;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin: 1px;
    border-radius: 5px;
    margin-top: 6px;
}
.add-course-button:hover {
    border: 1px solid teal;
    margin: 0;
    margin-top: 5px;
}

.pre-term-context-menu > div {
    height: 100%;
}
.pre-term-context-menu > div > div {
    height: 100%;
}
.pre-term-context-menu > div > div > div {
    height: 100%;
}
.pre-term-context-menu > div > div > div > div {
    height: 100%;
}

.term.minimized {
    min-width: 40px;
    width: 40px;
    border: 1px solid gray;
    border-radius: 3px;
    height: calc(100% - 35px);
}
.term.minimized > h3 {
    writing-mode: tb-rl;
}
.term.minimized > input {
    position: absolute;
    top: 10px;
    width: 30px;
    transform: rotate(90deg);
}

.term.minimized .course-container {
    display: none;
}
