.year > h2 {
    margin: 5px;
}

.year {
    border-radius: 5px;

    display: flex;
    flex-flow: column;
    height: 100%;
    min-height: 430px;
    min-width: 110px;
    background: #e6e6e6;

    padding: 0 10px;
}

.term-container {
    flex: 1;
    display: flex;
}

.year-container *:focus {
    outline: 3px dotted;
}

.year-container > div > .react-contextmenu-wrapper {
    height: 100%;
    display: inherit;
}

.year > h2 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
}
