.App {
    text-align: center;
    height: 100%;
    width: 100%;
    background: #dbd1ce;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.App .plan-view {
    flex: 1;
}

.button-link {
    padding: 0 10px;
    cursor: pointer;
}

.App > div {
    flex: 1;
    overflow: auto;
}

.App > .menu {
    flex: 0 0 auto;
    margin: 0;
}
