html, body, #root {
    height: 100%;
    width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

td > .show-on-hover,
div > .show-on-hover {
    visibility: hidden;
}

td:hover > .show-on-hover,
div:hover > .show-on-hover {
    visibility: visible;
}

